<!DOCTYPE html>
<html>
<head>
    <title>CRUD No DB</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<h1>Flask CRUD (No Database)</h1>

<a href="/add" class="btn">+ Add User</a>

<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Age</th>
        <th>Gender</th>
        <th>Actions</th>
    </tr>

    {% for row in data %}
    <tr>
        <td>{{ row.id }}</td>
        <td>{{ row.name }}</td>
        <td>{{ row.age }}</td>
        <td>{{ row.gender }}</td>
        <td>
            <a href="/edit/{{ row.id }}">Edit</a>
            <a href="/delete/{{ row.id }}">Delete</a>
        </td>
    </tr>
    {% endfor %}
</table>

</body>
</html>